@import "../../variables";

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  a {
    text-decoration: none;
    color: @secondaryColorLight;
  }
}

.headerContent {
  width: @containerWidth;
  margin: 0 auto;
}

.rightContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bagIcon {
  &:hover {
    color: @secondaryColor
  }
}

.priceContainer {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}

.totalDesc {
  font-size: 10pt;
}

.searchContainer {
  display: flex;
  flex: 10;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  min-width: 200px;
  position: relative;
}

.searchIcon {
  flex: 3
}

.searchInput {
  flex: 7;
  color: #fff !important;

  ::placeholder {
    color: #ddd !important;
  }
}

.logo {
  height: 40px;
  margin-top: 10px;
}

.suggestionsContainer {
  position: absolute;
  top: 60px;
  right: 0;
  min-width: 250px;
  max-width: 600px;
  max-height: 300px;
  overflow: scroll;
  z-index: 99;
  padding-right: 16px;

  ul {
    padding: 0px;
    margin-top: 10px;
  }
}

.suggestionImage {
  height: 50px;
  margin: 10px;
}

.suggestionItem {
  height: auto !important;
  border-bottom: 1px solid #ddd !important;
  padding: 0px !important;

  div {
    display: flex;
    align-items: center;
  }
}

.movieName {
  white-space: normal;
}

@media @smartphones {
  .headerContent {
    width: 100%;
  }
}